.section {
    background-color: rgb(253, 241, 131);
}

.headers {
    color: darkblue;
}

#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue
}

#portfolio {
    background-color: darkorange;
}

#Made {
    background-color: blueviolet;
}
